/* MENU BARS */

.bottomMenu{
    background-color: #005647;
}

.flexBottomMenu{
    height: 100px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
}

.bottomMenuIcon{
    height: 70px;
}

.topMenu{
    height: 100px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 0px;
}

.profileMenu{
    display: flex;
    align-items: center;
}

.profileImg{
    height: 50px;
    width: 50px;
}

.topMenuIcon{
    height: 50px;
}
.topNavIcons{
    display:flex; 
}


.Container{
    display: flex;
    background-color: white;
    height: 1000px;
    justify-content: center;
    align-content: center;
}

.header1{
    color: #FF560E;
    font-weight: bold;
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
    margin-top: 140px;
    
}

 /* .starRatings{ 
    height: 30px;
    width: 100px;
    
    
}*/ 

/* .starImage{
    margin-left: 10px;
} */

/* .inputElements{
    display: flex;
    flex-direction: column;
} */

#reviews{
    height: 250px;
    width: 450px;
    border-radius: 10px;
}

.reviewMessage{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #005647; 

}

.button1{
    height: 50px;
    width: 200px;
    background-color: #ff560e;
    border: none !important;
    border-radius: 10px;
    margin-top: 10px;
    
}

.buttonName1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration:none;
}

form{
    width: fit-content;
}
textarea{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #005647; 
    border: 1px solid #005647;
    border-radius: 20px;
    padding: 10px;
    /* width: 100%; */
}

.thankyou{
    flex-direction: column;
}

#thankyouMessage{
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: #005647;
    justify-content: center;
    align-items: center;
}

.thankyouAndCta{
    display: flex;
    flex-direction: column;
}

.button2{
    height: 50px;
    width: 200px;
    background-color: #ff560e;
    border: none !important;
    border-radius: 10px;
    margin-top: 10px;
    
}

.buttonName2{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration:none;
}